{%- assign variant_picker = section.blocks | where: "type", "variant_picker" | first -%}

<product-form 
  product-url="{{ product.url }}"
  page-type="{{ request.page_type }}"
  section-id="{{ section.id }}" 
  current-variant="{{ current_variant.id }}"
  {% if settings.cart_type != 'page' %} cart-popup {% endif %}
  {% if product and product.selling_plan_groups.size > 0 %} selling-plan-enable {% endif %}
  abc
>
    {%- form 'product', product, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" disabled name="id" value="{{ current_variant.id | escape }}" data-variant-id-input>
      <noscript>
        {% unless variant_picker %}
          <input type="hidden" name="id" value="{{ current_variant.id | escape }}" data-variant-id-input>
        {% endunless %}
      </noscript>
      <div data-content data-variant-id="{{ current_variant.id }}">
        {%- if product.selected_or_first_available_variant.available and in_cart_qty != current_variant.inventory_quantity -%}
          {%- if dynamic_checkout -%}
            {%- assign cart_button_color = 'default' -%}
          {%- else -%}
            {%- assign cart_button_color = 'accent-invert' -%}
          {%- endif -%}
          <div class="#grid @columns:1" style="--grid-gap: 0.5rem">
            <div class="#column">
              {% render 'button',
                t_text: 'products.product.add_to_cart',
                attr_name: 'add',
                attr_type: 'submit',
                data_attr: 'data-add-button',
                color: cart_button_color,
                block: true,
                with_loading: true,
                size: 'lg'
              %}
            </div>
            {% if dynamic_checkout %}
              <div class="#column">
                {{ form | payment_button }}
              </div>
            {% endif %}
          </div>
        {%- elsif in_cart_qty == current_variant.inventory_quantity -%}
          {% render 'button',
            t_text: 'products.product.sold_out',
            color: 'default',
            block: true,
            size: 'lg',
            disabled: true
          %}
        {%- else -%}
          {% render 'button',
            t_text: 'products.product.sold_out',
            color: 'default',
            block: true,
            size: 'lg',
            disabled: true
          %}
        {%- endif -%}
      </div> 
    {%- endform -%}

  
</product-form>

 