<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
<link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
<link rel='preconnect dns-prefetch' href='https://triplewhale-pixel.web.app/' crossorigin />
<script>
/* >> TriplePixel :: start*/
window.TriplePixelData={TripleName:"asuc.myshopify.com",ver:"1.9.0"},function(W,H,A,L,E,_,B,N){function O(U,T,P,H,R){void 0===R&&(R=!1),H=new XMLHttpRequest,P?(H.open("POST",U,!0),H.setRequestHeader("Content-Type","application/json")):H.open("GET",U,!0),H.send(JSON.stringify(P||{})),H.onreadystatechange=function(){4===H.readyState&&200===H.status?(R=H.responseText,U.includes(".txt")?eval(R):P||(N[B]=R)):(299<H.status||H.status<200)&&T&&!R&&(R=!0,O(U,T-1))}}if(N=window,!N[H+"sn"]){N[H+"sn"]=1;try{A.setItem(H,1+(0|A.getItem(H)||0)),(E=JSON.parse(A.getItem(H+"U")||"[]")).push(location.href),A.setItem(H+"U",JSON.stringify(E))}catch(e){}var i,m,p;A.getItem('"!nC`')||(_=A,A=N,A[H]||(L=function(){return Date.now().toString(36)+"_"+Math.random().toString(36)},E=A[H]=function(t,e){return"State"==t?E.s:(W=L(),(E._q=E._q||[]).push([W,t,e]),W)},E.s="Installed",E._q=[],E.ch=W,B="configSecurityConfModel",N[B]=1,O("//conf.config-security.com/model",5),i=L(),m=A[atob("c2NyZWVu")],_.setItem("di_pmt_wt",i),p={id:i,action:"profile",avatar:_.getItem("auth-security_rand_salt_"),time:m[atob("d2lkdGg=")]+":"+m[atob("aGVpZ2h0")],host:A.TriplePixelData.TripleName,url:window.location.href,ref:document.referrer,ver:window.TriplePixelData.ver},O("//api.config-security.com/",5,p),O("//triplewhale-pixel.web.app/dot1.9.txt",5)))}}("","TriplePixel",localStorage);
/* << TriplePixel :: end*/
</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% render 'css-vars' %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {{ 'core.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="{{ 'button.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'grid.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'media.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'hero.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'spinner.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'product-badges.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'box.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'main-navigation.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'price.css' | asset_url }}" media="print" onload="this.media='all'">
    
    <noscript>{{ 'button.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'grid.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'media.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'hero.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'spinner.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'product-badges.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'box.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'main-navigation.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'price.css' | asset_url | stylesheet_tag }}</noscript>

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  
  {% render 'shogun-head' %}
</head>

  <body class="password">
    {% render 'icons-spirte' %}
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>

    <script>
      window.routes = {
        cart: '{{ routes.cart }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}'
      }
      window.theme = {
        i18n: {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }},
          subtotal: {{ 'sections.cart.subtotal' | t | json }},
          loading: {{ 'accessibility.loading' | t | json }},
        },
        scripts: {
          Plyr: 'https://cdn.plyr.io/3.6.8/plyr.js',
          Swiper: 'https://unpkg.com/swiper@7/swiper-bundle.min.js'
        },
        styles: {
          Swiper: 'https://unpkg.com/swiper@7/swiper-bundle.min.css'
        },
        modules: {
          utils: "{{ 'utils.js' | asset_url }}",
          swiper: "{{ 'swiper-module.js' | asset_url }}",
          sellingPlanUtil: "{{ 'selling-plan-util.js' | asset_url }}",
          baseComponent: "{{ 'base-component.js' | asset_url }}"
        },
        routes: {
          predictiveSearch: "{{ routes.predictive_search_url }}"
        }
      };
    </script>

    {% render 'modal-popup' %}
  </body>
</html>
